@charset "UTF-8";
/*una vez esten los horarios de duracion y los precios crear efecto de subida en cada tarjeta*/
.card {
  background-color: #4b85f1;
  margin: 5px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover {
  background-color: #ff66cc;
  transform: scale(1.05);
}

.card-body {
  padding: 10px;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-height: 80px;
  transition: filter 0.3s ease-in-out;
}

.navbar-brand img:hover {
  filter: brightness(75%);
}

@media screen and (max-width: 500px) {
  .offcanvas {
    background-image: url("../../asets/imagenes/tinified/logo.jpg");
    background-size: cover;
    background-position: center;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: wheat;
  color: black;
  overflow-x: hidden;
  padding: 5px;
}

.row {
  display: flex;
  justify-content: center;
  background-color: rgb(118, 118, 201);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.section {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.container {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
}

.form {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

.form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:hover {
  border-color: #4285f4;
}

input[type=submit] {
  background-color: #4285f4;
  color: #fff;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2559a7;
}

.col-md-6 {
  width: 50%;
}

h3 {
  color: wheat;
}

h1 {
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #cc00ff;
  color: #ffffff;
}

/*Hacer en Javascript que segun los botones que uno precione le muestre un contenido u otro*/
.contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

#contacto a {
  text-decoration: none;
}

#contacto img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease; /* Agrega una transición suave al efecto hover */
}

#contacto a:hover img {
  transform: scale(1.2); /* Agranda la imagen al pasar el ratón sobre ella */
}

@media only screen and (max-width: 700px) {
  #contacto {
    flex-direction: column;
    text-align: center;
  }
  #contacto a {
    margin-bottom: 5px;
  }
}
.turnos-y-contactos {
  background-image: url(https://usagif.com/wp-content/uploads/butterfly-animation-6.gif);
  background-position: center;
  background-size: cover;
}

#info {
  background: linear-gradient(to right, rgb(44, 1, 1), orange, yellow, green, blue, indigo, violet);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
}

#turnos-container {
  display: none;
}

.mapa-responsive {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 0;
  padding-top: 56.25%; /*16:9 Aspect Ratio (56.25% = 9/16 * 100%)*/
  margin: auto; /* Con esto se centra en la pantalla */
}

.mapa-responsive iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
}

.bienvenida {
  background-image: url(https://i.pinimg.com/originals/79/de/72/79de729b90aa6ad3e05f207a4e2b0384.gif);
  display: flex;
  background-position: start;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  color: yellow;
  gap: 20px;
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 2440px) and (min-width: 800px) {
  .bienvenida {
    height: 100vh;
  }
}
@media screen and (max-width: 799px) {
  .bienvenida {
    height: 600px;
  }
}

#electro {
  display: flex;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 500px;
  color: black;
  text-shadow: 4px 4px 2px rgb(255, 255, 255);
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 2440px) and (min-width: 800px) {
  #electro {
    background-image: url(../../asets/imagenes/tinified/electro.jpg);
  }
}
@media screen and (max-width: 799px) {
  #electro {
    background-image: url(../../asets/imagenes/tinified/electroestimula-cel.jpg);
  }
}

#Lampara {
  display: flex;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
  text-shadow: 4px 4px 2px rgb(255, 255, 255);
  font-size: 3em;
  background-size: cover;
  height: 400px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 2440px) and (min-width: 800px) {
  #Lampara {
    background-image: url(../../asets/imagenes/tinified/lampara.jpg);
  }
}
@media screen and (max-width: 799px) {
  #Lampara {
    background-image: url(../../asets/imagenes/tinified/lampara-calor-cel.jpg);
  }
}

#Circu {
  display: flex;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
  text-shadow: 4px 4px 2px rgb(255, 255, 255);
  font-size: 3em;
  background-size: cover;
  height: 400px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 2440px) and (min-width: 800px) {
  #Circu {
    background-image: url(../../asets/imagenes/tinified/circulatorio.jpg);
  }
}
@media screen and (max-width: 799px) {
  #Circu {
    background-image: url(../../asets/imagenes/tinified/circulatorio-cel.jpg);
  }
}

#manual {
  display: flex;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 500px;
  text-align: center;
  color: black;
  text-shadow: 4px 4px 2px rgb(255, 255, 255);
  font-size: 3em;
  font-weight: bold;
}
@media screen and (max-width: 2440px) and (min-width: 800px) {
  #manual {
    background-image: url(../../asets/imagenes/tinified/descontracturante.jpg);
  }
}
@media screen and (max-width: 799px) {
  #manual {
    background-image: url(../../asets/imagenes/tinified/descontracturante-cel.jpg);
  }
}

#madera {
  display: flex;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 500px;
  text-align: center;
  color: black;
  text-shadow: 4px 4px 2px rgb(255, 255, 255);
  font-size: 3em;
  font-weight: bold;
}
@media screen and (max-width: 2440px) and (min-width: 800px) {
  #madera {
    background-image: url(../../asets/imagenes/tinified/maderoterapia.jpg);
  }
}
@media screen and (max-width: 799px) {
  #madera {
    background-image: url(../../asets/imagenes/tinified/maderoterapia-cel.jpg);
  }
}

#relajante {
  display: flex;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 500px;
  text-align: center;
  color: black;
  text-shadow: 4px 4px 2px rgb(255, 255, 255);
  font-size: 3em;
  font-weight: bold;
}
@media screen and (max-width: 2440px) and (min-width: 800px) {
  #relajante {
    background-image: url(../../asets/imagenes/tinified/relajante.jpg);
  }
}
@media screen and (max-width: 799px) {
  #relajante {
    background-image: url(../../asets/imagenes/tinified/relajante-cel.jpg);
  }
}

#grasa {
  display: flex;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 500px;
  text-align: center;
  color: black;
  text-shadow: 4px 4px 2px rgb(255, 255, 255);
  font-size: 3em;
  font-weight: bold;
}
@media screen and (max-width: 2440px) and (min-width: 800px) {
  #grasa {
    background-image: url(../../asets/imagenes/tinified/modelador.jpg);
  }
}
@media screen and (max-width: 799px) {
  #grasa {
    background-image: url(../../asets/imagenes/tinified/linfatico-cel.jpg);
  }
}

#piedras {
  display: flex;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 500px;
  text-align: center;
  color: black;
  text-shadow: 4px 4px 2px rgb(255, 255, 255);
  font-size: 3em;
  font-weight: bold;
}
@media screen and (max-width: 2440px) and (min-width: 800px) {
  #piedras {
    background-image: url(../../asets/imagenes/tinified/piedras.jpg);
  }
}
@media screen and (max-width: 799px) {
  #piedras {
    background-image: url(../../asets/imagenes/tinified/piedras-caliente-cel.jpg);
  }
}

#Drenaje {
  display: flex;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 500px;
  text-align: center;
  color: black;
  text-shadow: 4px 4px 2px rgb(255, 255, 255);
  font-size: 3em;
  font-weight: bold;
}
@media screen and (max-width: 2440px) and (min-width: 800px) {
  #Drenaje {
    background-image: url(../../asets/imagenes/tinified/linfatico.jpg);
  }
}
@media screen and (max-width: 799px) {
  #Drenaje {
    background-image: url(../../asets/imagenes/tinified/linfatico-cel.jpg);
  }
}

/*# sourceMappingURL=style.css.map */
