.bienvenida {
    background-image: url(../../asets/imagenes/Imagen-de-pantalla-principal.jpg);
    @include flex(start, column, center, center);
    @media screen and (max-width: 2440px) and (min-width: 800px) {
        height: 100vh;
    }
    
    @media screen and (max-width: 799px) {
        height: 400px;
    }
    background-size: cover;
    color: white;
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    gap: 20px;
    font-size: 4.5rem;
    font-weight: bold;
}

#electro {
    @include flex(center, column, center, center);
    @media  screen and (max-width: 2440px) and (min-width: 800px) {
    background-image: url(../../asets/imagenes/tinified/electro.jpg);
    height: 500px;
    }
    @media screen and (max-width: 799px){
    background-image: url(../../asets/imagenes/tinified/electroestimula-cel.jpg);
    height: 100%;
    }
    background-size: cover;
    color: black;
    text-shadow: 4px 4px 2px rgb(255, 255, 255);
    font-size: 3em;
    font-weight: bold;
    text-align: center
}

#Lampara {
    @include flex(center, column, center, center);
    @media screen and (max-width: 2440px) and (min-width: 800px){
        background-image: url(../../asets/imagenes/tinified/lampara.jpg);
    }
    @media screen and (max-width: 799px) {
        background-image: url(../../asets/imagenes/tinified/lampara-calor-cel.jpg);
    }
    color: black;
    text-shadow: 4px 4px 2px rgb(255, 255, 255);
    font-size: 3em;
    background-size: cover;
    height: 100%;
    font-weight: bold;
    text-align: center
}

#Circu {
    @include flex(center, column, center, center);
    @media screen and (max-width: 2440px) and (min-width: 800px) {
        background-image: url(../../asets/imagenes/tinified/circulatorio.jpg);
    }
    @media screen and (max-width: 799px) {
        background-image: url(../../asets/imagenes/tinified/circulatorio-cel.jpg)
    }
    color: black;
    text-shadow: 4px 4px 2px rgb(255, 255, 255);
    font-size: 3em;
    background-size: cover;
    height: 100%;
    font-weight: bold;
    text-align: center
}

#manual {
    @include flex(center, column, center, center);
    @media  screen and (max-width: 2440px) and (min-width: 800px) {
        background-image: url(../../asets/imagenes/tinified/descontracturante.jpg);
    }
    @media screen and (max-width: 799px) {
        background-image: url(../../asets/imagenes/tinified/descontracturante-cel.jpg);
    }
    background-size: cover;
    height: 100%;
    text-align: center;
    color: black;
    text-shadow: 4px 4px 2px rgb(255, 255, 255);
    font-size: 3em;
    font-weight: bold;
}

#madera {
    @include flex(center, column, center, center);
    @media screen and (max-width: 2440px) and (min-width: 800px) {
        background-image: url(../../asets/imagenes/tinified/maderoterapia.jpg);
        height: 500px;
    }
    @media screen and (max-width: 799px) {
        background-image: url(../../asets/imagenes/tinified/maderoterapia-cel.jpg);
        height: 100%;
    }
    background-size: cover;
    text-align:center;
    color: black;
    text-shadow: 4px 4px 2px rgb(255, 255, 255);
    font-size: 3em;
    font-weight: bold;
}

#relajante {
    @include flex(center, column, center, center);
    @media screen and (max-width: 2440px) and (min-width: 800px) {
        background-image: url(../../asets/imagenes/tinified/relajante.jpg);
        height: 500px;
    }
    @media screen and (max-width: 799px) {
        background-image: url(../../asets/imagenes/tinified/relajante-cel.jpg);
        height: 100%;
    }
    text-align: center;
    color: black;
    text-shadow: 4px 4px 2px rgb(255, 255, 255);
    font-size: 3em;
    font-weight: bold;
}

#grasa {
    @include flex(center, column, center, center);
    @media screen and (max-width: 2440px) and (min-width: 800px) {
        background-image: url(../../asets/imagenes/tinified/modelador.jpg);
        height: 500px;
    }
    @media screen and (max-width: 799px) {
        background-image: url(../../asets/imagenes/tinified/linfatico-cel.jpg);
        height: 100%;
    }
    text-align: center;
    color: black;
    text-shadow: 4px 4px 2px rgb(255, 255, 255);
    font-size: 3em;
    font-weight: bold;
}

#piedras {
    @include flex(center, column, center, center);
    @media screen and (max-width: 2440px) and (min-width: 800px) {
        background-image: url(../../asets/imagenes/tinified/piedras.jpg);
        height: 500px;
    }
    @media screen and (max-width: 799px) {
        background-image: url(../../asets/imagenes/tinified/piedras-caliente-cel.jpg);
        height: 100%;
    }
    background-size: cover;
    text-align: center;
    color: black;
    text-shadow: 4px 4px 2px rgb(255, 255, 255);
    font-size: 3em;
    font-weight: bold;
}

#Drenaje {
    @include flex(center, column, center, center);
    @media screen and (max-width: 2440px) and (min-width: 800px) {
        background-image: url(../../asets/imagenes/tinified/linfatico.jpg);
        height: 500px;
    }
    @media screen and (max-width: 799px) {
        background-image: url(../../asets/imagenes/tinified/linfatico-cel.jpg);
        height: 100%;
    }
    background-size: cover;
    text-align: center;
    color: black;
    text-shadow: 4px 4px 2px rgb(255, 255, 255);
    font-size: 3em;
    font-weight: bold;
}

.presentacion1 {
    @include presentacion(center, column, cover);
    @media screen and (max-width: 2440px) and (min-width: 800px) {
        background-image: url(../../asets/imagenes/tinified/descontracturante.jpg);
        height: 500px;
    }
    @media screen and (max-width: 799px) {
        background-image: url(../../asets/imagenes/tinified/descontracturante-cel.jpg);
        height: 350px;
    }
}

.presentacion2{
    @include presentacion(center, column, cover);
    @media screen and (max-width: 2440px) and (min-width: 800px) {
        background-image: url(../../asets/imagenes/tinified/circulatorio.jpg);
        height: 500px;
    }
    @media screen and (max-width: 799px){
        background-image: url(../../asets/imagenes/tinified/circulatorio-cel.jpg);
        height: 350px;
    }
}